.app {
  &_container {
    width: 50rem;
    height: 60rem;
    // background-color: blue;
    border-radius: 1rem;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_form {
      display: flex;
      justify-content: center;
      gap: 1rem;

      input {
        width: 25rem;
        border-radius: .5rem;
        border: none;
        padding: 1rem;
      }
      
      input:focus {
        outline: .1rem solid #c2bcff;
      }
    }

    &_list {
      width: 33rem;
      display: flex;
      flex-direction: column;
      gap: .8rem;

      &_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem;
        background-color: #fff;
        border-radius: .5rem;
        height: 3rem;

        &_left, &_right{
          display: flex;
          align-items: center;
          gap: .8rem;
        }

        &_right {
          &_icon {
            display: flex;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}